# project
_site
.jekyll-cache/
.jekyll-metadata
.sass-cache
.vagrant
.bundle/
.gem/
.gem32/
vendor/bundle/
.codex

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
