{% assign current_lang = page.lang | default: 'en' %}
<div class="projects-container">
    {% for project in site.data.projects %}
    <div class="project-card">
        <div class="project-time">{{ project.time }}</div>
        <div class="card-header">
            <a href="{{ project.link }}" target="_blank">
                <div class="project-logo">
                    <img src="{{ project.logo }}" alt="{{ project.alt }}">
                </div>
            </a>
            <h2>{{ project.title[current_lang] | default: project.title.en }}</h2>
        </div>
        <div class="project-content">
            <p>{{ project.description[current_lang] | default: project.description.en }}</p>
            <div class="project-tags">
                {% for tag in project.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
