---
layout: base
---
{% assign current_lang = page.lang | default: 'en' %}
{% assign t = site.data.site-text[current_lang] | default: site.data.site-text.en %}
{% assign tag_labels = t.tag_labels | default: site.data.site-text.en.tag_labels %}
{% assign lang_posts = site.posts | where: "lang", current_lang %}
{% assign previous_post = nil %}
{% assign next_post = nil %}
{% for candidate in lang_posts %}
  {% if candidate.url == page.url %}
    {% assign previous_index = forloop.index0 | plus: 1 %}
    {% assign next_index = forloop.index0 | minus: 1 %}
    {% if previous_index < lang_posts.size %}
      {% assign previous_post = lang_posts[previous_index] %}
    {% endif %}
    {% if next_index >= 0 %}
      {% assign next_post = lang_posts[next_index] %}
    {% endif %}
    {% break %}
  {% endif %}
{% endfor %}

{% include header.html type="post" %}

<!-- Table of Contents Sidebar (floating) -->
<aside class="toc-sidebar d-none d-lg-block" id="toc-sidebar">
  <nav class="toc-nav" id="toc">
    <h4 class="toc-title">{{ t.post.toc }}</h4>
    <div id="toc-content"></div>
  </nav>
</aside>

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">

      {% if page.gh-repo %}
        {% assign gh_split =  page.gh-repo | split:'/'  %}
        {% assign gh_user =  gh_split[0]  %}
        {% assign gh_repo =  gh_split[1]  %}

        <div id="header-gh-btns">
          {% if page.gh-badge.size > 0 %}
            {% for badge in page.gh-badge %}
              {% case badge %}
                {% when 'star'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'watch'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=watch&v=2&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'fork'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&repo={{ gh_repo }}&type=fork&count=true" frameborder="0" scrolling="0" width="120px" height="20px"></iframe>
                {% when 'follow'%}
                  <iframe src="https://ghbtns.com/github-btn.html?user={{ gh_user }}&type=follow&count=true" frameborder="0" scrolling="0" width="220px" height="20px"></iframe>
              {% endcase %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}

      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="blog-post">
        {{ content }}
      </div>

      {% if page.tags.size > 0 %}
        <div class="blog-tags">
          <span>{{ t.post.tags }}:</span>
          {% for tag in page.tags %}
            {% assign tags_root = '/tags' %}
            {% if current_lang == 'zh' %}
              {% assign tags_root = '/zh/tags/' %}
            {% endif %}
            <a href="{{ tags_root | relative_url }}#{{- tag -}}">{{ tag_labels[tag] | default: tag }}</a>
          {% endfor %}
          <span class="view-count-wrapper">
            <i class="fas fa-eye"></i>
            <span class="view-count" style="display: none;">0</span>
          </span>
        </div>
      {% endif %}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% if page.social-share %}
        {% include social-share.html %}
      {% endif %}

      <ul class="pagination blog-pager">
        {% if previous_post %}
        <li class="page-item previous">
          <a class="page-link" href="{{ previous_post.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{ previous_post.title | strip_html | xml_escape }}">
            <i class="fas fa-arrow-left" alt="Previous Post"></i>
            <span class="d-none d-sm-inline-block">{{ t.post.previous }}</span>
          </a>
        </li>
        {% endif %}
        {% if next_post %}
        <li class="page-item next">
          <a class="page-link" href="{{ next_post.url | relative_url }}" data-toggle="tooltip" data-placement="top" title="{{ next_post.title | strip_html | xml_escape }}">
            <span class="d-none d-sm-inline-block">{{ t.post.next }}</span>
            <i class="fas fa-arrow-right" alt="Next Post"></i>
          </a>
        </li>
        {% endif %}
      </ul>
      {% include comments.html %}
    </div>
  </div>
</main>
