---
layout: page
lang: zh
language: zh-CN
translation_url: /
title: "你好，我是叶旭航"
subtitle: 计算机学生 / 热爱学习 / 开源开发者
css: "/assets/css/index.css"
cover-img:
  - "/assets/img/big-imgs/Chongqing1.jpg" : "洪崖洞，我在重庆求学的城市"
  - "/assets/img/big-imgs/Chongqing2.jpg" : "重庆天际线，我在重庆求学的城市"
  - "/assets/img/big-imgs/Chongqing3.jpg" : "磁器口，我在重庆求学的城市"
  - "/assets/img/big-imgs/Chongqing4.jpg" : "解放碑，我在重庆求学的城市"
  - "/assets/img/big-imgs/Chongqing5.jpg" : "李子坝，我在重庆求学的城市"
  - "/assets/img/big-imgs/Chongqing6.jpg" : "长江索道，我在重庆求学的城市"
  - "/assets/img/big-imgs/Chongqing7.jpg" : "开往春天的列车，我在重庆求学的城市"
  - "/assets/img/big-imgs/Chongqing University1.jpg" : "重庆大学图书馆，我求学的大学"
  - "/assets/img/big-imgs/Chongqing University2.jpg" : "重庆大学校门，我求学的大学"
  - "/assets/img/big-imgs/Chongqing University3.jpg" : "重庆大学主楼，我求学的大学"
  - "/assets/img/big-imgs/Chongqing University4.jpg" : "民主湖，我求学的大学"
  - "/assets/img/big-imgs/Chongqing University5.jpg" : "团结广场，我求学的大学"
  - "/assets/img/big-imgs/Chongqing University6.jpg" : "思群操场，我求学的大学"
  - "/assets/img/big-imgs/Chongqing University7.jpg" : "银杏迎秋，我求学的大学"
  - "/assets/img/big-imgs/Chongqing University8.jpg" : "虎溪校区航拍，我求学的大学"
  - "/assets/img/big-imgs/Chongqing University9.jpg" : "A 校区航拍，我求学的大学"
  - "/assets/img/big-imgs/Chongqing University10.jpg" : "B 校区航拍，我求学的大学"
---

{% assign current_lang = page.lang | default: 'en' %}
{% assign t = site.data.site-text[current_lang] | default: site.data.site-text.en %}
{% assign tag_labels = t.tag_labels | default: site.data.site-text.en.tag_labels %}
{% assign posts = site.posts | where: "lang", current_lang %}

<div class="list-filters">
  <a href="/zh/" class="list-filter filter-selected">{{ t.home.all_posts }}</a>
  <a href="/zh/popular/" class="list-filter">{{ t.home.most_popular }}</a>
  <a href="/zh/archive/" class="list-filter">{{ t.home.archive }}</a>
  <a href="/zh/tags/" class="list-filter">{{ t.home.index }}</a>
</div>

<div class="posts-list">
  {% for post in posts %}
  <article class="post-preview">

    {%- capture thumbnail -%}
      {% if post.thumbnail-img %}
        {{ post.thumbnail-img }}
      {% elsif post.cover-img %}
        {% if post.cover-img.first %}
          {{ post.cover-img[0].first.first }}
        {% else %}
          {{ post.cover-img }}
        {% endif %}
      {% else %}
      {% endif %}
    {% endcapture %}
    {% assign thumbnail=thumbnail | strip %}

    {% if site.feed_show_excerpt == false %}
    {% if thumbnail != "" %}
    <div class="post-image post-image-normal">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}
    {% endif %}

    <a href="{{ post.url | absolute_url }}">
      <h2 class="post-title">{{ post.title }}</h2>

      {% if post.subtitle %}
        <h3 class="post-subtitle">
        {{ post.subtitle }}
        </h3>
      {% endif %}
    </a>

    <p class="post-meta">
      {{ t.home.posted_on }} {{ post.date | date: "%Y年%-m月%-d日" }}
    </p>

    {% if thumbnail != "" %}
    <div class="post-image post-image-small">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}

    {% unless site.feed_show_excerpt == false %}
    {% if thumbnail != "" %}
    <div class="post-image post-image-short">
      <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
      </a>
    </div>
    {% endif %}

    <div class="post-entry">
      {% assign excerpt_length = site.excerpt_length | default: 50 %}
      {{ post.excerpt | strip_html | xml_escape | truncatewords: excerpt_length }}
      {% assign excerpt_word_count = post.excerpt | number_of_words %}
      {% if post.content != post.excerpt or excerpt_word_count > excerpt_length %}
        <a href="{{ post.url | absolute_url }}" class="post-read-more">{{ t.home.read_more }}</a>
      {% endif %}
    </div>
    {% endunless %}

    {% if site.feed_show_tags != false and post.tags.size > 0 %}
    <div class="blog-tags">
      {{ t.home.tags }}:
      {% for tag in post.tags %}
      <a href="{{ '/zh/tags/' | absolute_url }}#{{- tag -}}">{{ tag_labels[tag] | default: tag }}</a>
      {% endfor %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>
